<section id="header-container">
    <div class="logo">
        <h1>SPANews <fa-icon [icon]="faNewspaper"></fa-icon></h1>
    </div>
    <nav>
        <ul class="lista">
            <li><a  routerLink="/"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Início</a></li>
            <li><a  routerLink="/esporte" routerLinkActive="active"  >Esporte</a></li>
            <li><a  routerLink="/entretenimento" routerLinkActive="active" >Entretenimento</a></li>
            <li><a  routerLink="/tecnologia"  routerLinkActive="active" >Tecnologia</a></li>
            <li><a  routerLink="/ciencia"  routerLinkActive="active" >Ciência</a></li>
           
        </ul>
    </nav>
</section>